[user]
name = Bradley Shawyer
email = 21098019+bradleyess@users.noreply.github.com

[core]
pager = diff-so-fancy | less --tabs=4 -RFX
editor = code --wait

[color]
ui = true

[pull]
rebase = false

[init]
defaultBranch = main
