<!-- This daemon runs whenever a user logs in on this device...-->
<!-- It runs the fswatch shell script, but it should wrap the command in a shell. -->
<!-- todo: It should only run for this user. bradley. -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.loginscript</string>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/zsh</string>
            <string>-c</string>
            <string>-l</string>
            <string>$HOME/.dotfiles/fswatch.sh</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <false/>

        <key>StandardOutPath</key>
        <string>/tmp/com.bradleyess.login.log</string>

        <key>StandardErrorPath</key>
        <string>/tmp/com.bradleyess.login.err</string>

    </dict>
</plist>